*{
    margin: 0;
    padding: 0;
    font-family: "Hanken Grotesk", sans-serif;
    
}

body{
    background-color: hsl(221, 100%, 96%);
    min-height: 100vh;
    min-width: 100vw;
}
.container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
}


.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(hsl(234, 85%, 45%), hsla(256, 72%, 46%, 1));
    color: hsl(221, 100%, 96%);
    box-sizing: border-box;
    border-radius: 8px;
    height: 395px;
    width: 300px;
    
}

.result h1{
    align-items: center;
    margin-top: 3rem;
    color: hsl(241, 100%, 89%);
    font-size: 20px;
    
}

.rate {
    position: relative; 
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: 1rem;
   
}

.rate::before {
    content: "";
    position: absolute;
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    background: linear-gradient( hsl(252, 100%, 67%), hsl(234, 85%, 45%));
    z-index: -1;

}

.rate span {
    display:block;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
    z-index: 1;
    margin: 1rem;
    padding: 1rem;
}


.rate p{
    position: relative;
    z-index: 1;
    font-size: 20px;
}


.result h2{
    margin-top: 1rem;
    font-size: 25px;
    text-align: center;

}

.result h6{
    text-align: center;
    align-items: center;
    margin: 1rem;
    
    font-size: 15px;
}

.summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: hsl(221, 100%, 96%);
    box-sizing: border-box;
    border-radius: 8px;
    height: 385px;
    width: 350px;
    

}

.numbers{
    display: flex;
    flex-direction: column;

}

.numbers img{
    width: 25px;
    margin-right: 0.5rem;
    align-content: center;
}

.summary  ul li{
    display: flex;
    list-style: none;
      
}

.summary h1{
    font-size: 35px;
    font-weight: 600;
    color: #000;
    align-self: left;
    text-align: left;
    text-align: start;

}

.summary  ul .reaction{ 
    background-color:  hsl(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%) ;
    font-size: 15px;
    text-align: start;
    box-sizing: border-box;
    border: none;
    width: 300px;
    height: fit-content;
    margin: 2rem;
    padding: 0.4rem;
    border-radius: 8px;
    align-content: center;

}

.summary  ul .reaction p{
    text-align: right;
    margin-left: 50%;
    font-size: 14px;
    font-weight: 500;
    align-content: center;
    color: black;
   
}

.summary  ul .memory{ 
    background-color:  hsl(39, 100%, 56%, 0.1);
    color:  hsl(39, 100%, 56%) ;
    font-size: 15px;
    text-align: start;
    box-sizing: border-box;
    border: none;
    width: 300px;
    height: fit-content;
    margin: 2rem;
    padding: 0.4rem;
    border-radius: 8px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: -1rem;

}

.summary  ul .memory p{
    text-align: right;
    margin-left: 50%;
    font-size: 14px;
    font-weight: 500;
    align-content: center;
    color: black;
   
}

.summary  ul .verbal{ 
    background-color: hsl(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%) ;
    font-size: 15px;
    text-align: start;
    box-sizing: border-box;
    border: none;
    width: 300px;
    height: fit-content;
    margin: 2rem;
    padding: 0.4rem;
    border-radius: 8px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: -1rem;

}

.summary  ul .verbal p{
    text-align: right;
    margin-left: 50%;
    font-size: 14px;
    font-weight: 500;
    align-content: center;
    color: black;
   
}


.summary  ul .visual{ 
    background-color:  hsl(234, 85%, 45%, 0.1);
    color:  hsl(234, 85%, 45%);
    font-size: 15px;
    text-align: start;
    box-sizing: border-box;
    border: none;
    width: 300px;
    height: fit-content;
    margin: 2rem;
    padding: 0.4rem;
    border-radius: 8px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: -1rem;

}

.summary  ul .visual p{
    text-align: right;
    margin-left: 50%;
    font-size: 14px;
    font-weight: 500;
    align-content: center;
    color: black;
   
}

.summary button{
    background-color:hsla(241, 72%, 46%);
    color: #fff;
    font-size: 20px;
    text-align: center;
    align-items: center;
    border: none;
    box-sizing: border-box;
    border-radius: 25px;
    width: 250px;
    height: 50px;

}