*{
    margin: 0;
    padding: 0;
    font-family: "Hanken Grotesk", sans-serif;
    
}

body{
    background-color: hsl(221, 100%, 96%);
}
.container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
    box-sizing: border-box;
    
}

.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%) );
    color: hsl(221, 100%, 96%);
    box-sizing: border-box;
    border-radius: 8px;
    height: 375px;
    position: relative;
}

.result h1{
    margin-top: -200px;
    color: hsl(241, 100%, 89%);
    font-size: 20px;
    align-items: center;
}

.result .rate{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    

}

.summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: hsl(221, 100%, 96%);
    box-sizing: border-box;
    border-radius: 8px;
    height: 375px;
    width: 350px;
    position: relative;

}

.numbers{
    display: flex;
    flex-direction: column;

}

.numbers img{
    width: 25px;
    margin-right: 0.5rem;
    align-content: center;
}

.summary  ul li{
    display: flex;
    list-style: none;
      
}

.summary h1{
    font-size: 35px;
    font-weight: 600;
    color: #000;
    align-self: left;
    text-align: left;
    text-align: start;

}

.summary  ul .reaction{ 
    background-color:  hsl(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%) ;
    font-size: 15px;
    text-align: start;
    box-sizing: border-box;
    border: none;
    width: 300px;
    height: fit-content;
    margin: 2rem;
    padding: 0.4rem;
    border-radius: 8px;
    align-content: center;

}

.summary  ul .reaction p{
    text-align: right;
    margin-left: 50%;
    font-size: 14px;
    font-weight: 500;
    align-content: center;
    color: black;
   
}

.summary  ul .memory{ 
    background-color:  hsl(39, 100%, 56%, 0.1);
    color:  hsl(39, 100%, 56%) ;
    font-size: 15px;
    text-align: start;
    box-sizing: border-box;
    border: none;
    width: 300px;
    height: fit-content;
    margin: 2rem;
    padding: 0.4rem;
    border-radius: 8px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: -1rem;

}

.summary  ul .memory p{
    text-align: right;
    margin-left: 50%;
    font-size: 14px;
    font-weight: 500;
    align-content: center;
    color: black;
   
}

.summary  ul .verbal{ 
    background-color: hsl(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%) ;
    font-size: 15px;
    text-align: start;
    box-sizing: border-box;
    border: none;
    width: 300px;
    height: fit-content;
    margin: 2rem;
    padding: 0.4rem;
    border-radius: 8px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: -1rem;

}

.summary  ul .verbal p{
    text-align: right;
    margin-left: 50%;
    font-size: 14px;
    font-weight: 500;
    align-content: center;
    color: black;
   
}


.summary  ul .visual{ 
    background-color:  hsl(234, 85%, 45%, 0.1);
    color:  hsl(234, 85%, 45%);
    font-size: 15px;
    text-align: start;
    box-sizing: border-box;
    border: none;
    width: 300px;
    height: fit-content;
    margin: 2rem;
    padding: 0.4rem;
    border-radius: 8px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: -1rem;

}

.summary  ul .visual p{
    text-align: right;
    margin-left: 50%;
    font-size: 14px;
    font-weight: 500;
    align-content: center;
    color: black;
   
}